        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #fafafa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            width: 100%;
        }

        .form-container {
            flex: 1;
            padding: 20px;
            background-color: white;
            border: 1px solid #dbdbdb;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }

        h1 {
            font-size: 28px;
            color: #262626;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input[type="text"],
        input[type="password"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #dbdbdb;
            border-radius: 3px;
            font-size: 14px;
        }

        button {
            background-color: #3897f0;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        button:hover {
            background-color: #3578e5;
        }

        .select-role {

            border-radius: 10px;
            background-color: #3897f0;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;

        }

        .login-link {
            margin-top: 10px;
            font-size: 14px;
        }

        .login-link a {
            color: #003569;
            text-decoration: none;
            font-weight: bold;
        }

        .login-link a:hover {
            text-decoration: underline;
        }

        .register-page-images {
            width: 20%;
        }

        .in-div-role-select {
          border: solid,1px;
          width: 30%;
        }
